/* 

Mediaqueries Contents: 

01. Global
02. Notebook
03. Tablet
04. Mobile
05. WP Admin Bar

*/

/* ----------------------------------------------------------------------------------------------------- */
/* 01. Global Responsive Styles */
/* ----------------------------------------------------------------------------------------------------- */

#centered {
padding-top: 50px;
padding-bottom: 50px;	
}
#logo,
#name,
#description,
#button {
max-width: 80%;
margin-left: auto;
margin-right: auto;
}
#logo img,
#widget-center-area img {
max-width: 100%;
height: auto;	
}
#widget-center-area {
max-width: 80%;
margin: 0 auto;	
}

/* ----------------------------------------------------------------------------------------------------- */
/* 02. Notebook Device Styles */
/* ----------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1280px) {
	
/* Font Sizes */
#name {
font-size: 60px;
line-height: 50px;
letter-spacing: -3px;
}
#description {
font-size: 28px;
line-height: 32px;
font-weight: 300;
}	

/* Spacing */
#centered {
padding-top: 35px;
padding-bottom: 35px;	
}
#logo {
margin-bottom: 35px;	
}
#name {
margin-bottom: 30px;
}
#description {
margin-bottom: 55px;
}
#button {
margin-bottom: 20px;	
}
  
/* End of Notebook Mediaqueries */
}

/* ----------------------------------------------------------------------------------------------------- */
/* 03. Tablet Device Styles */
/* ----------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 720px) {

/* Font Sizes */
#name {
font-size: 60px;
line-height: 50px;
letter-spacing: -3px;
}
#description {
font-size: 28px;
line-height: 32px;
font-weight: 300;
}	

/* Spacing */
#centered {
padding-top: 25px;
padding-bottom: 25px;	
}
#logo {
margin-bottom: 35px;	
}
#name {
margin-bottom: 30px;
}
#description {
margin-bottom: 55px;
}
#button {
margin-bottom: 20px;	
}
  
/* End of Tablet Mediaqueries */
}


/* ----------------------------------------------------------------------------------------------------- */
/* 04. Mobile Device Styles */
/* ----------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 500px) {

/* Containers */
body {}
#content-container {
overflow-x: hidden; 
overflow-y: auto;
}	
#logo,
#name,
#description,
#button {
max-width: 90%;
}
/* Mobile Navigation */
#header {display: none;}
#menu-mobile-sidebar {
display: block; 
width: 24px; 
height: 15px; 
margin: 0 0 35px 0;
}   
#menu-mobile-sidebar .menu-button {
top: 25px;
left: 25px;
width: 24px;	
}
#menu-mobile-centered {
display: block; 
width: 24px; 
height: 15px; 
margin: 0 0 25px 0;
}
#menu-mobile-centered .menu-button {
top: 25px;
left: 25px;
width: 24px;	
}
#menu-mobile-sidebar svg,
#menu-mobile-centered svg {
width: 24px; 
height: auto;	
}

/* Sidebar */
#sidebar-inner {
padding: 22px 25px 25px 25px;
}
#sidebar-inner .widget {
display: block;	
padding-bottom: 34px;
}
#sidebar-inner .social {
padding-bottom: 34px;
}
/* Font Sizes */
#name {
font-size: 40px;
line-height: 40px;
letter-spacing: -2px;
}
#description {
font-size: 22px;
line-height: 24px;
}

/* Spacing */
#centered {
padding-top: 20px;
padding-bottom: 20px;	
}
#logo {
margin-bottom: 35px;	
}
#name {
margin-bottom: 30px;
}
#description {
margin-bottom: 55px;
}
#button {
margin-bottom: 50px;	
}
#hola{
	top: 25px!important;
	right: 25px!important;
}

/* End of Mobile Mediaqueries */
}

/* ----------------------------------------------------------------------------------------------------- */
/* 05. WP Admin Bar Mediaqeuries when logged in */
/* ----------------------------------------------------------------------------------------------------- */

.admin-bar #wpadminbar {} /* Height 32px */
.admin-bar #main-container {top: -32px;}
.admin-bar #content-container {top: 32px;}
.admin-bar #sidebar {padding-top: 32px;}
.admin-bar #header .menu-button {top: 82px;}

@media screen and (max-width: 782px) {
.admin-bar #wpadminbar {} /* Height 46px */
.admin-bar #main-container {top: -46px;} 
.admin-bar #content-container {top: 46px;}
.admin-bar #sidebar {padding-top: 46px;}
.admin-bar #header .menu-button {top: 96px;}
}

@media screen and (max-width: 600px) {
.admin-bar #wpadminbar {position: absolute; top: -46px !important;}  /* Height 46px */
.admin-bar #main-container {top: -46px;}
.admin-bar #content-container {top: 46px;}
.admin-bar #sidebar {padding-top: 46px;}
.admin-bar #menu-mobile-centered .menu-button {top: 25px;}
.admin-bar #menu-mobile-sidebar .menu-button {top: 71px;}
#name img{width:110px!important; height:110px!important;}
}
