/* ----------------------------------------------------------------------------------------------------- */
/* Global Responsive Styles */
/* ----------------------------------------------------------------------------------------------------- */
#centered {
padding-top: 50px;
padding-bottom: 50px;	
}
#logo,
#name,
#description,
#button {
max-width: 80%;
margin-left: auto;
margin-right: auto;
}
#logo img,
#widget-center-area img {
max-width: 100%;
height: auto;	
}
#widget-center-area {
max-width: 80%;
margin: 0 auto;	
}

/* ----------------------------------------------------------------------------------------------------- */
/* Notebook Device Styles */
/* ----------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1280px) {
	
/* Font Sizes */
#name {
font-size: 60px;
line-height: 50px;
letter-spacing: -3px;
}
#description {
font-size: 28px;
line-height: 32px;
font-weight: 300;
}	

/* Spacing */
#centered {
padding-top: 35px;
padding-bottom: 35px;	
}
#logo {
margin-bottom: 35px;	
}
#name {
margin-bottom: 30px;
}
#description {
margin-bottom: 55px;
}
#button {
margin-bottom: 20px;	
}
  
/* End of Media Query */
}

/* ----------------------------------------------------------------------------------------------------- */
/* Tablet Device Styles */
/* ----------------------------------------------------------------------------------------------------- */

/* More mediaqueries available in the premium version of East Java */

/* ----------------------------------------------------------------------------------------------------- */
/* WP Admin Bar Mediaqeuries when logged in */
/* ----------------------------------------------------------------------------------------------------- */

.admin-bar #wpadminbar {} /* Height 32px */
.admin-bar #main-container {top: -32px;}
.admin-bar #content-container {top: 32px;}
.admin-bar #sidebar {padding-top: 32px;}
.admin-bar #header #menu-button {top: 82px;}

@media screen and (max-width: 782px) {
.admin-bar #wpadminbar {} /* Height 46px */
.admin-bar #main-container {top: -46px;} 
.admin-bar #content-container {top: 46px;}
.admin-bar #sidebar {padding-top: 46px;}
.admin-bar #header #menu-button {top: 96px;}
}

@media screen and (max-width: 600px) {
.admin-bar #wpadminbar {position: absolute; top: -46px !important;}  /* Height 46px */
.admin-bar #main-container {top: -46px;}
.admin-bar #content-container {top: 46px;}
.admin-bar #sidebar {padding-top: 46px;}
.admin-bar #menu-mobile-centered #menu-button {top: 25px;}
.admin-bar #menu-mobile-sidebar #menu-button {top: 71px;}
#name img{width:110px!important; height:110px!important;}
}